*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
  margin: 0;
  padding: 0;
}
header{
  display: block;
  height: 2em;
}

#menu-ctnr{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1em;
  min-height: calc(100vh - 4em);
  height: 80vh;
}

.day{
  flex: 0 0 24%;
  height: 50%;
  position: relative;
  min-width: 250px;

  border: 1px solid #a2a2a2;
  border-radius: 5px;
  margin: 3px;

}

.dow{
  background: #292832;
  color: white;
  text-align: center;
  height: 2em;
  line-height: 2em;
}

.menus{
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  list-style-type: none;
  margin: 2em 0 0 0;
  height: calc(100% - 4em);
  padding: 0;
}

.menus li{
  flex: 0 0 50%;
  position: relative;
}
.menus li:first-child::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40%;
  height: 1px;
  background: #3e3e3e;
}

.menu{
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
   text-align: center;

}

.replace{
  display: none;
  position: absolute;
  left: 50%;
  bottom: 7%;
  width: 33%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  border-width: 1px;
  border-radius: 5px;
  padding: 0 14px;
  font-size: 1.5em;
  cursor: pointer;
  color: #333641;
}

li:hover .replace.visible {
  display: block;
}

.title{
  font-weight: bold;
}
