*, *:before, *:after {
  box-sizing: border-box;
}

#menu-ctnr{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 80vh;
  margin: 1em;
}

.day{
  flex: 0 0 24%;
  height: 50%;
  position: relative;

  border: 1px solid #a2a2a2;
  border-radius: 4px;
  margin: 3px;

}

.dow{
  background: black;
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
}

.menus{
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  list-style-type: none;
  margin: 2em 0 0 0;
  height: calc(100% - 2em);
  padding: 0;
}

.menus li{
  flex: 0 0 50%;
  position: relative;
}
.menus li:first-child::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40%;
  height: 1px;
  background: #3e3e3e;
}

.menu{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}

.title{
  font-weight: bold;
}
